@{
    WebCrawler.Model.PerformanceTest test = Model;
    var resuts = test.UrlTestResults;

	<p>
			<br />Performanse
			<br />Test ID: @test.Id
			<br />Date: @test.Date
			<br />URL: @test.SiteUrl
			<br />Total links: @resuts.Count
	</p>
    @(Html
	.Grid(resuts)
	.Build(columns =>
	{
		columns.Add(model => model.Id).Titled("ID");
		columns.Add(model => model.ResponseTime).Titled("ResponseTime");
		columns.Add(model => model.InSitemap).Titled("In Sitemap");
		columns.Add(model => model.InSitePage).Titled("In Site Page");

		columns.Add(model => model.Url).Titled("Page URL");
	})
	.Using(GridFilterMode.Header)
	.Empty("No data found")
	.Named("Timing")
	.Filterable()
	.Sortable()
	.Pageable()
	.Css("css-classes")
	.AppendCss("table-hover")
	)

    <br />
    <p>URL NOT FOUND AT WEBSITE: @resuts.Where(s => !s.InSitePage).Count()</p>
    @(Html
	.Grid(resuts.Where(s => !s.InSitePage))
	.Build(columns =>
	{
		columns.Add(model => model.Id).Titled("ID");
		columns.Add(model => model.Url).Titled("Page URL");
	})
	.Using(GridFilterMode.Header)
	.Empty("No data found")
	.Named("SitemapOnly")
	.Filterable()
	.Sortable()
	.Pageable()
	.Css("css-classes")
	.AppendCss("table-hover")
	)

    <br />
	<p>URL NOT FOUND AT SITEMAP: @resuts.Where(s => !s.InSitemap).Count()</p>
    @(Html
	.Grid(resuts.Where(s => !s.InSitemap))
	.Build(columns =>
	{
		columns.Add(model => model.Id).Titled("ID");
		columns.Add(model => model.Url).Titled("Page URL");
	})
	.Using(GridFilterMode.Header)
	.Empty("No data found")
	.Named("SitePageOnly")
	.Filterable()
	.Sortable()
	.Pageable()
	.Css("css-classes")
	.AppendCss("table-hover")
	)
}