@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Site Performance Result</h1>

	@using (Html.BeginForm("TestResults", "Home", FormMethod.Get))
	{
		<p>Enter test ID:</p>
		<input size="60" type="number" required name="testId" />
		<input type="submit" value="Test" />
	}
	<br />
	@using (Html.BeginForm("Index", "Home", FormMethod.Get))
	{
		<input type="submit" value="Back to Tests" />
	}
</div>

<div>
	@if (ViewBag.TestResult != null)
	{
		WebCrawler.Model.PerformanceTest test = ViewBag.TestResult;
		var resuts = test.UrlResponseTimes;

		<h4>
			<br/>Performanse
			<br/>ID: @test.Id
			<br/>Date: @test.Date
			<br/>@test.SiteUrl
		</h4>
		<br />
		@(Html
	.Grid(resuts)
	.Build(columns =>
	{
		columns.Add(model => model.Id).Titled("ID");
		columns.Add(model => model.ResponseTime).Titled("ResponseTime");
		columns.Add(model => model.InSitemap).Titled("In Sitemap");
		columns.Add(model => model.InSitePage).Titled("In Site Page");

		columns.Add(model => model.Url).Titled("Page URL");
	})
	.Using(GridFilterMode.Header)
	.Empty("No data found")
	.Filterable()
	.Sortable()
	.Pageable()
	.Css("css-classes")
	.AppendCss("table-hover")
	)

		<br/>
		<h4>URL NOT FOUND AT WEBSITE</h4>
		@(Html
	.Grid(resuts)
	.Build(columns =>
	{
		columns.Add(model => model.Id).Titled("ID");
		columns.Add(model => model.Url).Titled("Page URL");
	})
	.Using(GridFilterMode.Header)
	.Empty("No data found")
	.Filterable()
	.Sortable()
	.Pageable()
	.Css("css-classes")
	.AppendCss("table-hover")
	)

		<br/>
		<h4>URL NOT FOUND AT SITEMAP</h4>
		@(Html
	.Grid(resuts)
	.Build(columns =>
	{
		columns.Add(model => model.Id).Titled("ID");
		columns.Add(model => model.Url).Titled("Page URL");
	})
	.Using(GridFilterMode.Header)
	.Empty("No data found")
	.Filterable()
	.Sortable()
	.Pageable()
	.Css("css-classes")
	.AppendCss("table-hover")
	)
	}
</div>
